body, html {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	overflow: hidden;
}

body {
	height: 100vh;
	width: 100vw;
}

.board-container {
	border: 3px solid gray;
	position: relative;
}

.button {
	cursor: pointer;
	padding: 1rem;
	border: 1px solid black;
}

.controls {
	position: absolute;
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
	> div {
		display: inline-block;
	}
}

.tools {
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
}