.signup-container {
  margin: 1rem;
}

.signup-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  .form-element-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    .form-element-inner {
      display: flex;
      justify-content: space-between;
    }
    .error-msg {
      color: red;
      margin-bottom: 0.25rem;
      display: none;
    }
    &.error {
      .error-msg {
        display: block;
      }
      input {
        outline: 2px solid red;
      }
    }
  }
}