.signup-container {
  margin: 1rem;
}

.signup-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }
}